.projects-container {
  width: 100vw !important;
  /* padding: 2vh 2vw; */
}

.project-header {
  font-weight: 500;
  font-size: 30px;
  line-height: 72px;
  margin: 0;
}

.project-body {
  font-size: 14px;
  line-height: 27px;
  text-align: justify;
  max-width: 600px;
  padding-bottom: 50px;
}

.project-rounded {
  /* border-radius: 10px; */
}

.project-container video:focus {
  outline: none;
}
