.about-avatar-container {
  position: relative;
  height: 100%;
  width: 100%;
}
.about-avatar-portrait {
  width: 275px;
  height: 275px;
  border-radius: 12px;
  object-fit: cover;
  filter: grayscale(80%);
  transition: 0.3s;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 75px;
  top: 107.5px;
  text-align: center;
}

.about-avatar-portrait:hover {
  filter: grayscale(0%);
}

.about-avatar-svg {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  text-align: center;
}
.about-avatar-svg2 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 13px;
  top: 15px;
  text-align: center;
}
