.contact-description {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  color: white;
  opacity: 0.7;
  mix-blend-mode: difference;
  text-align: start;
}

.contact-title {
  color: white;
  mix-blend-mode: difference;
  text-align: start;
}
