.small-project-card-container {
  border-radius: 10px;
}

.small-project-card-img {
  width: 100%;
  border-radius: 10px;
  height: 45vh;
  object-fit: cover;
}

.small-project-card-img-container {
  position: relative;
  width: 100%;
  height: 40vh;
}

.small-project-card-flip {
  position: absolute;
  width: 100%;
  height: 100%;
  will-change: transform, opacity;
  /* border-radius: 10px; */
}

.small-project-card-front,
.small-project-card-back {
  background-size: cover;
}

.small-project-card-front {
}

.small-project-card-back {
  background-color: #dbdbdb;
}

.small-project-card-back-text {
  padding: 30px;
  height: 100%;
}

.small-project-card-video {
  background-color: rgb(29, 29, 29);
}
