.small-proj-card-img {
  max-height: 45vh;
  z-index: 1;
  max-width: 100%;
  margin-bottom: 50px;
}

.small-proj-card-number {
  margin: 0;
  margin-right: 25px;
  font-size: 15px;
}

.small-proj-card-hr {
  border: 1px solid grey;
  width: 7%;
}

.small-proj-tags {
  margin: 0;
  color: rgb(82, 82, 82);
  display: inline;
  margin-right: 18px;
}

.small-proj-header {
  margin-top: 0;
  color: #242425;
  font-weight: 500;
  font-size: 27px;
}
.small-proj-body {
  font-size: 14px;
  line-height: 24px;
  max-width: 400px;
  color: #b9b9b9;
  margin-top: 0;
}
