.mobile-apps-phone-1 {
  max-height: 85vh;
  border-radius: 40px;
  border: 18px solid black;
}

.mobile-apps-phone-2 {
  max-height: 85vh;
  border-radius: 40px;
  border: 18px solid rgb(61, 61, 61);
}

.mobile-apps-r1-c1 {
  background-color: #e5e5e5;
  height: 100%;
  width: 100%;
}

.mobile-apps-r1-c2 {
  background-color: #3a3a3a;
  height: 100%;
  width: 100%;
}

.mobile-apps-r2-c1 {
  background-color: #1e1e1e;
  height: 100%;
  width: 100%;
}

.mobile-apps-r2-c2 {
  background-color: #cac9c9;
  height: 100%;
  width: 100%;
}

.mobile-apps-storyboard {
  background-color: black;
  color: white;
}

.mobile-apps-storyboard-container img {
  height: 62vh;
  border-radius: 30px;
}

.mobile-apps-storyboard-img1 {
  border: 10px solid rgb(24, 24, 24);
}

.mobile-apps-storyboard-img2 {
  border: 10px solid rgb(127, 255, 195);
}

.mobile-apps-storyboard-img3 {
  border: 10px solid rgb(24, 24, 24);
}
