.mobile-apps-phone-1 {
  border-radius: 40px;
  border: 15px solid black;
  height: 70%;
}

.mobile-apps-phone-2 {
  max-height: 85vh;
  border-radius: 40px;
  border: 18px solid rgb(61, 61, 61);
}

.mobile-apps-r1-c1 {
  height: 100%;
  width: 100%;
}

.mobile-apps-r1-c2 {
  height: 100%;
  width: 100%;
}

.mobile-apps-r2-c1 {
  height: 100%;
  width: 100%;
}

.mobile-apps-r2-c2 {
  height: 100%;
  width: 100%;
}

.mobile-apps-storyboard {
}

.mobile-apps-storyboard-container img {
  width: 100%;
  border-radius: 30px;
}

.mobile-apps-storyboard-img1 {
  border: 12px solid rgb(24, 24, 24);
}

.mobile-apps-storyboard-img2 {
  border: 12px solid rgb(127, 255, 195);
}

.mobile-apps-storyboard-img3 {
  border: 12px solid rgb(24, 24, 24);
}
